* {
  background:       #0e0e0e;
  background-alt:   #232328;
  foreground:       #f1f1f1;
  red:              #ad8789;
  red-alt:          #b79c9d;
  blue:             #7e7eb5;
  green:            #85aa86;
  font:             "Roboto Mono 13";
}
